/*============================
Main/Utilities
============================*/
*{
    font-family: 'Open Sans', sans-serif;    
}

body{
	padding: 0;
	margin: 0;
}

/* Origin: Paul Irish */
/* apply a natural box layout model to all elements */
*, *:before, *:after {
	   -moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
			box-sizing: border-box;
}

/* Origin:  HTML5BOILERPLATE */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/*
 * Twitter Bootstrap
 */
a,
a:link,
a:visited{
    color: #428bca;
    text-decoration: none;
}

a:hover, 
a:focus {
    color: #2a6496;
    text-decoration: underline;
}

.sr-only{
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: monospace, monospace;
}

pre{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre code{
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.meta-data{
    color: #999;
}

.ad{
    background-color: #efefef; 
    text-align: center; 
    padding: 10px 10px 6px;
    border-radius: 4px;
}

.author{
    background-color: #efefef; 
    padding: 10px 10px 6px;
    margin: 12px 0;
    border-radius: 4px;
}

.about-the-author{
    margin: 0 0 0 80px;
}

.author-avatar{
    float: left;
    border-radius: 4px;
}

.text-break{
    word-break: break-all;
}

.answer{
	font-family: monospace;
	color: #444;
	margin: 0 0 12px;
    border: 1px solid #c0c0c0;
	padding: 6px 4px;
    border-radius: 4px;
	word-break: break-all;
}

/*============================
Form Defaults
============================*/

form.default  {}

form.default fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
form.default fieldset legend {
	color: #e32;
	font-weight: bold;
}
form.default fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
form.default fieldset fieldset legend {
	font-weight: normal;
}
form.default fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form.default div {
	clear: both;
	margin-bottom: 8px;
}
form.default .input {
	color: #444;
}
form.default .required {
	font-weight: bold;
}
form.default form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form.default div.submit {
	border: 0;
	clear: both;
	text-align: right;
}
form.default label {
	display: block;
	margin-bottom:3px;
}
form.default input, textarea {
	clear: both;
	padding: 6px 4px;
	width:100%;
}
form.default select {
	clear: both;
	vertical-align: text-bottom;
}
form.default select[multiple=multiple] {
	width: 100%;
}
form.default option {
	padding: 0 3px;
}
form.default input[type=checkbox] {
	clear: left;
	float: left;
	margin: 4px 6px 0 2px;
	width: auto;
}
form.default div.checkbox label {
	display: inline;
}
form.default input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
form.default .radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
form.default input[type=submit] {
	display: inline;
	width: auto;
}
form.default .submit input[type=submit] {
    color: #fff;
    text-decoration: none;
    background: #428bca;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
}
form.default .submit input[type=submit]:hover {
    color: #fff;
    background: #649aec;
}
/* Form errors */
form.default .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form.default .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form.default .error,
form.default .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/*============================
Main\Layout
============================*/			

.content{
	padding-top: 70px;
}

.one-third,
.one-fourth,
.one-fifth{
	float: none;
	width: 100%;
}

.sidebar-two-column ul{
    list-style: none;
    padding: 0;
}

.sidebar-two-column ul li{
    border-bottom: 1px solid #f5f5f5;
}

.sidebar-two-column ul li a{
    display: inline-block;
    padding: 6px 0;
}

.content-two-column,
.sidebar-two-column{
    padding: 0 12px;
}

.sidebar-two-column aside:first-child{
    margin-top: 18px;
}

.sidebar-two-column aside header{
    font-weight: bold;
    color: #777;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.container{
		width: 750px;
		margin: 0 auto
	}

	.one-third{
		float: left;
		width: 33%;
	}
    
	.one-fourth{
		float: left;
		width: 25%;
	}
    
	.one-fifth{
		float: left;
		width: 20%;
	}
    
    .content-two-column{
        float:left;
		width: 66%;
    }
    
    .sidebar-two-column{
        float:left;
		width: 33%;
    }
    
    .sidebar-two-column ul li a{
        display: inline-block;
        padding: 8px 0;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.container{
		width: 970px;
		margin: 0 auto
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container{
		width: 1170px;
		margin: 0 auto
	}
}

/*============================
Navigation
============================*/
.header{
	position: fixed;
	width:100%;
	background-color: rgba(187, 68, 0, 0.8);
    z-index: 1000;
}

.site-brand a,
.site-brand a:link,
.site-brand a:visited{
	font-family: 'Rock Salt', 'Open Sans', sans-serif;
	color: #fff;
	text-decoration: none;
	padding: 0 12px;
	line-height: 64px;
}

.site-brand a:hover{
	color: #000;
}

.site-nav{
	display: none;
	margin:0;
}

.site-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.site-nav ul li a,
.site-nav ul li a:link,
.site-nav ul li a:visited{
	font-family: 'Rock Salt', 'Open Sans', sans-serif;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	line-height: 64px;
	padding: 0 12px;
	text-align: center;
	width: 100%;
	border-top: 1px solid rgb(187, 68, 0);
}

.site-nav ul li form{
	font-family: 'Rock Salt', 'Open Sans', sans-serif;
	display: inline-block;
	text-decoration: none;
	line-height: 64px;
	padding: 0;
    margin: 0;
	width: 100%;
	border-top: 1px solid rgb(187, 68, 0);
    text-align: center;
}

.site-nav ul li form input[type="search"]{
    border-radius: 4px;
    border: 1px solid #efefef;
    padding: 6px;
    margin:0;
}

.site-nav ul li form .search{
    margin:0;
}

.site-nav ul li a:hover{
	color: #000;
	background-color: rgb(187, 68, 0);
}

.toggle-header-navigation{
	float: right;
	display: inline-block;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.site-brand{
		width: 200px;
		float: left;
	}

	.toggle-header-navigation{
		display: none;
	}

	.site-nav{
		display: block;
		padding: 0;
		margin-left: 200px;
		text-align: right;
	}
	
	.site-nav ul li{
		display:inline;
	}
	
	.site-nav ul li a,
	.site-nav ul li a:link,
	.site-nav ul li a:visited{
		display:inline-block;
		width: auto;
		border-top: none;
	}
    
	.site-nav ul li form{
		display:inline-block;
		width: auto;
		border-top: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.container{
		width: 970px;
		margin: 0 auto
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container{
		width: 1170px;
		margin: 0 auto
	}
}

/*============================
Footer
============================*/
.footer{
	width: 100%;
	color: #7F7F7F;
	font-size: 0.85em;
	border-top: 1px solid #f5f5f5;
	margin-top: 12px;
}

.footer a{
	color: #7F7F7F;
	font-weight: bold;
	font-size: 0.85em;
}

.footer-left,
.footer-center,
.footer-right{
	text-align: center;
	padding: 12px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.footer-left,
	.footer-center,
	.footer-right{
		float: left;
		width: 33%;
	}

	.footer-left{
		text-align: left;
	}

	.footer-right{
		text-align: right;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}

/*============================
Home Page Titles
============================*/
.tile{
	padding:2px 4px;
	margin:0;
	border: none;

	color: #fff; 
	font-weight: normal;
	display: inline-block;
	width: 100%;
	overflow:hidden;
	float:left;
}

.tile span{
	display: inline-block;
	width: 100%;
	background: #000;
	height: 180px;
	padding: 24px;
	font-size: 120%;
}

.tile:hover span{
	background: #428bca;
	color: #fff;
}


@media (min-width: 480px) {
	.tile{
		width: 50%;
	}

	.tile-double{
		width: 100%;
		font-size: 100%;
	}
}

@media (min-width: 768px) {
	.tile{
		width: 25%;
	}

	.tile-double{
		width: 50%; 
		font-size: 100%;
	}
}